/* * Preparing stage */
/* html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: white;
} */
/* body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
} */
/* * Start */
.glassBox {
    width: 100%;
    height: 350px;
    max-width: 300px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0.);
    border-bottom-color: rgba(255, 255, 255, 0);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0);
    padding: 15px;
    left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.glassBox, .glassBox * {
    box-sizing: border-box;
    transition: 400ms;
}
.glassBox__imgBox img {
    display: block;
    width: 100%;
    height: auto;
}
.glassBox__title {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Arial";
}
.glassBox__content {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    top: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: "Arial";
    letter-spacing: 0.1em;
    opacity: 1;
}
.glassBox:hover .glassBox__imgBox {
    transform: translateY(-10px);
}
.glassBox:hover .glassBox__imgBox img {
    transform: translate(0px,-10px) rotate(0deg) scale(1.1);
}

.column {
    float: left;
    width: 21%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
